.accordion-button{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#cbc9c7;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
    font-family: serif;
    color:rgb(74, 73, 73);
}
.accordion-button::after{
    content:"+";
}

.accordion-button-open::after{
    content:"-";
}

.accordion-content{
    padding-left: 1rem;
    padding: 1rem;
}