.skip {
    position: absolute;
    color: var(--bg-banner-color);
    text-decoration:none;
    left: 45%;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus , .skip:hover {
    position: absolute;   
    width: auto;
    color:blue;
    text-decoration:underline;
    height: auto;
}